<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" fill="outline" (click)="getPhoto()">
        Photo
        <ion-icon slot="end" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        @if(color) {
          <app-color [color]="color"></app-color>
        } @else {
          <ion-card color="light">
            <ion-card-content>
              Add a photo you want to inspect.
            </ion-card-content>
          </ion-card>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
